/* Add a black background color to the top navigation */
.topnav {
  background-color: #282828;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Make logout button in topnav appear on the right */
.topnav .logout,
.topnav .myprofile {
  float: right;
}

/* Adjust the topnav logo */
.topnav .logo {
  float: left;
  max-width: 3%;
  height: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add some margins to the welcome message */
.welcomeUser {
  margin-left: 50px;
  margin-top: 20px;
  padding-top: 50px;
}

/* Post css */
.post {
  background: white;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.post h1 {
  font-size: 25px;
}

.post h2 {
  font-size: 15px;
}

.postInteraction {
  padding: 10px;
}

body {
  background: #f5f5f5;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  text-align: center;
}

#fetchMorePosts,
#noMorePosts {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Add post page CSS */
.add-post {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.add-post label {
  margin-top: 50px;
  font-weight: bold;
}

.add-post select {
  border: 0;
  width: 500px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 50px;
}

.add-post textarea {
  width: 500px;
  height: 150px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

#errorDiv p {
  color: red;
  font-weight: bold;
  text-align: center;
}

#successDiv {
  padding-top: 20px;
  text-align: center;
}

/* Edit post feed icon styling */
.post h5 {
  float: left;
}

.editIcon img {
  float: right;
  max-width: 1.5%;
  height: auto;
}

.post h6 {
  clear: both;
}

/* Edit post page CSS */
.edit-post h1,
label,
select,
form {
  text-align: center;
}

#postHyperlink {
  text-align: left;
}

.edit-post h2 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.edit-post label {
  margin-top: 50px;
  font-weight: bold;
}

.edit-post select {
  border: 0;
  width: 500px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 50px;
}

.edit-post textarea {
  width: 500px;
  height: 150px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.edit-post input {
  margin-bottom: 15px;
}

/* comment_form styling */

.comment {
  display: flex;
  height: 95vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
}

.comment-img {
  position: fixed;
  opacity: 0.1;
  right: -20px;
  top: -34px;
  width: 290px;
}

.btn {
  padding: 10px 20px;
  background: #45a049;
  border-radius: 4px;
  color: white;
  border: 1px solid #347737;
}

.btn-secondary {
  background-color: lightgray;
  color: black;
  margin-left: 7px;
}

textarea {
  width: 500px;
  height: 150px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 13px;
  font-family: monospace;
  resize: vertical;
  padding: 15px;
  margin-bottom: 15px;
}

.footer {
  text-align: right;
}

/* Comment div styling */
.commentDiv {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
}

.individualComment {
  margin-bottom: -10px;
}

.commentUser {
  font-weight: bold;
}

.commentText {
  margin-top: -20px;
}
