<div class="row">
    <div class="leftcolumn">
        <div id="postColumn">
            {{#each allPosts}} {{> post }} {{/each}}
        </div>
        <a href="" id="fetchMorePosts">Get more posts</a>
        <p id="noMorePosts" hidden>No more posts!</p>
    </div>
    <div class="rightcolumn">
        Other info here like friends, recommendations, etc.
    </div>
</div>