<div class="add-post">
    <h1>What's on your mind?</h1>
    <div id="errorDiv">
    </div>
    <form id="addPostForm">
        <label>Post Text
            <br />
            <textarea id="addPostText" placeholder="Your text here"></textarea>
        </label>
        <br />
        <label>Recipe (Optional)
            <br />
            <select id="addPostRecipe">
                <option value="none">None</option>
                <option value="asdf">asdf</option>
            </select>
        </label>
        <br />
        <input type="submit" value="Add Post" />
    </form>
    <div id="successDiv" hidden></div>
</div>