<div class="edit-post" id="editPostDiv">
    <h1>
        Edit Post
    </h1>
    {{> editPartial postInfo}}
    <div id="errorDiv">
    </div>
    <form id="editPostForm">
        <label>New Post Text
            <br />
            <textarea id="editPostText" placeholder="Your text here"></textarea>
        </label>
        <br />
        <label>New Recipe (Optional)
            <br />
            <select id="editPostRecipe" class="form-control">
                <option value="None">None</option>
                {{#each allRecipes}}
                <option value="{{this.[1]}}">{{this.[0]}}</option>
                {{/each}}
            </select>
        </label>
        <br />
        <input type="submit" value="Edit Post" class="btn btn-primary mb-2" />
    </form>
    <form id="deletePostForm">
        <input type="submit" value="Delete Post" class="btn btn-primary mb-2" />
    </form>
    <div id="successDiv" hidden></div>
    <!-- Hidden postID in order to make AJAX requests -->
    <p id="postID" hidden>{{ postInfo._id }}</p>
</div>