
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/main.css">
    <h1>Welcome to HTML: How to Mix Liquor- Sign Up Here!</h1>
</head>
<body>
    <p1>Sign up your Account Now</p1>
    <form id = "signup-form" method = "post" action = "/signup">
        <div class="form-group-firstname">
            <label for="firstnameSignUp">Enter Your First Name Here</label>
            <input type="text" class="form-control" id="firstNameSignUp" name="firstname" placeholder="First Name">
        </div>
        <div class="form-group-lastnameSignUp">
            <label for="lastname">Enter Your Last Name here!</label>
            <input type="text" class="form-control" id="lastNameSignUp" name="lastname" placeholder="Last Name">
        </div>
        <div class="form-group-username">
            <label for="usernameSignUp">Enter Your Username Here</label>
            <input type="text" class="form-control" id="usernameSignUp" name="username" placeholder="Username">
        </div>
        <div class="form-group-password">
            <label for="passwordSignUp">Enter Your Password here!</label>
            <input type="password" class="form-control" id="passwordSignUp" name="password" placeholder="Password">
        </div>
        <div class="form-group-email">
            <label for="emailSignUp">Enter Your E-Mail Here!</label>
            <input type="text" class="form-control" id="emailSignUp" name="email" placeholder="E-mail Address">
        </div>
        <div class="form-group-birthday">
            <label for="dateOfBirthSignUp">Enter Your Birthday Here</label>
            <input type="date" class="form-control" id="dateOfBirthSignUp" name="birthday" placeholder="Birthday">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <div class="form-group">
        <div class="alert alert-success">
          
          <ul id = "results">
            <li class = "errormessage">{{error}}</li>
          </ul>
        </div>
      </div>
    </form>
    <footer>HTML: How to Mix Liquor, Created Spring 2021</footer>
    <script src="/public/js/signup.js"></script>
</body>
</html>

