<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>HTML</title>
    {{/if}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>

</head>

<body>
    <header>
        <div class="topnav">
            <img src="/public/images/cocktail.png" class="logo" alt="HTML Cocktail Logo" />
            <a href="/feed">Home</a>
            <a href="/posts/add">Add Post</a>
            <a href="/recipes/addRecipe">Add Recipe</a>
            <a href="/search/recipe">Search Recipes</a>
            <a href="/feed">Search Users</a>
            <a href="/logout" class="logout">Logout</a>
            <a href="/feed" class="myprofile">My Profile</a>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    <script src="/public/js/post.js"></script>
</body>

</html>